@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #1b2743;
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  background: linear-gradient(
    157.81deg,
    #85b5e9 -43.27%,
    #6ea2da -21.24%,
    #458fdf 12.19%,
    #2d85e2 29.82%,
    #1b78dd 51.94%,
    #1669c3 90.29%
  );

}